<!DOCTYPE html>
<html>
<head>
  <title>Character</title>
  <%= stylesheet_link_tag    "character/application" %>
  <%= javascript_include_tag "character/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
